*{
    margin: 0;
    padding: 0;
}

.logo{
    display: flex;
    height: 3rem;
    background-color: #063751;
    color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.navbar{
    position: sticky;
    display: flex;
    height: 3rem;
    width: 100%;
    align-items: center;
    font-weight: 900;
    background-color: #085259;
    top: 0px ;
    

}
.conv{
    margin-left: 0.5rem;
    margin-right: 0.2rem;
}
.curr_converter {
    height: 2.5rem;
    width: 6rem;
    display: flex;
    align-items: center;
    border: 1.2px solid transparent;
}
.curr_converter:hover{
    border: 1.2px solid yellow;
}
.curr_converter:active{
    height: 2.3rem;
    width: 5.9rem;
}

.Time_conv{
    height: 2.5rem;
    width: 4.5rem;
    display: flex;
    align-items: center;
    border: 1.2px solid transparent;
}
.Time_conv:hover{
    border: 1.2px solid yellow;
}
.Time_conv:active{
    height: 2.3rem;
    width: 4.3rem;
}
.currency_converter{
    display: flex;
    justify-content: center;
    align-items: center ;
    min-height: 100vh;
    background-color: aquamarine;
}

.container{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;

}
form{
    margin: 2rem 0 1rem 0;
}

form select,input,button{
    border: none;
    outline: none;
    width: 100%;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid lightgrey;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;

}

.drop_down{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 2rem;
}
.drop_down i{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select_container img{
    max-width: 2rem;
}

.select_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border: 1px solid lightgrey;
    border-radius: 0.5rem;

}

.select_container select{
    font-size: 1rem;
    width: auto;
}

.msg{
    
    margin: 2rem 0 2rem 0 ;
    height: 2.5rem;
    color: red;
    font-weight: bolder;
    font-size: larger;
    border: 1.25px solid lightgrey ;
    border-style: dashed;
    text-align: center;
    padding-top: 1rem;
    border-radius: 1rem;
}

form button{
    height: 3rem;
    background-color: peru;
    color: white;
    font-size: 1.15rem;
    cursor: pointer;

}
